.Button {
    cursor: pointer;
    color: var(--primary-color);
}
.clear,
.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}
.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    width: 40px;
    height: 40px;
}
