.Button {
    cursor: pointer;
    color: var(--primary-color);

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    }
}
.clear,
.clearInverted {
    border: none;
    padding: 0;
    background: none;
    outline: none;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}
.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}
.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    padding: 10px;
}
.outline_red {
    border: 1px solid var(--red-light);
    color: var(--red-light);
    background: none;
    padding: 10px;
}

.square {
    width: 40px;
    height: 40px;
}

.disabled {
    opacity: 0.5;
}
