.app_green_theme {
    --bg-color: #bab256 ;
    --inverted-bg-color: #000000;

    --primary-color: #000000;
    --secondary-color: #b5943f;
    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #A64830;
}
